.sp-thongbao {
  cursor: pointer;
  color: white;
  margin-left: 2px;
  background-image: linear-gradient(to left, #dbdcd7, #dddcd7, #e2c9cc, #e7627d, #b8235a, #801357, #3d1635, #1c1a27);
  background-size: 150%;
  display: none;
  animation: bayMau 5s forwards;
}


#SapXepGiam {
  display: none;
}

#content {
  width: 100%;
  background: #74ebd5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.myCardHeader,
.myCardFooter {
  background-color: transparent;
}

.table {
  font-size: 0.8rem;
}

.table th {
  font-size: 0.9rem;
  padding: 10px 5px;
}


.table td,
.table th {
  vertical-align: middle;
}


@keyframes bayMau {
  0% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 300% 0%;
  }

}